<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary d-flex justify-content-between">
  <div class="main-buttons-container">
    <span class="navbar-brand header-link main-link" (click)="goToHomeLink()">Munch</span>
    <span class="nav-item header-link navbar-brand map-link" (click)="goToMapLink()">Map</span>
  </div>
  <div class="login-register-div">
    <span class="nav-item header-link navbar-brand profile-link" (click)="goToProfileLink()" *ngIf="loggedIn">Profile</span>
    <span class="nav-item header-link navbar-brand login-link" (click)="goToLoginLink()" *ngIf="!loggedIn">Login</span>
    <span class="nav-item header-link navbar-brand register-link" (click)="goToRegisterLink()" *ngIf="!loggedIn">Register</span>
  </div>
</nav>
