<mat-toolbar color="primary">
  <div class="main-buttons-container float-left">
    <span class="navbar-brand header-link main-link" (click)="goToHomeLink()">Munch</span>
    <span class="nav-item header-link navbar-brand map-link" (click)="goToMapLink()">Map</span>
    <span class="nav-item header-link about-link" (click)="goToAboutPage()">About</span>
  </div>
  <div class="login-register-div float-right">
    <span class="nav-item header-link navbar-brand profile-link" (click)="goToProfileLink()" *ngIf="loggedIn">Profile</span>
    <span class="nav-item header-link navbar-brand login-link" (click)="goToLoginLink()" *ngIf="!loggedIn">Login</span>
    <span class="nav-item header-link navbar-brand register-link" (click)="goToRegisterLink()" *ngIf="!loggedIn">Register</span>
  </div>
</mat-toolbar>